@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Организационный инструмент управления</h1>

</div>

<div class="row">
    @if (Request.IsAuthenticated)
    {
        <div class="col-md-6">
            <h4> Проекты</h4>
            <ul>
            @foreach (DiplomWeb.Models.ProjectInfo item in ViewBag.Projects)
            {

                <li>@Html.RouteLink(item.Name, "Project", new { id = item.Id }) </li>
            }
            </ul>
        </div>
        <div class="col-md-6">
            <h4>Дежурства</h4>
            <ul>
                @foreach (DiplomWeb.Models.Vigil item in ViewBag.Vigil)
                {

                    <li>@Html.ActionLink(item.Name, "Vigil","UserVigils", new { id = item.Id },null) </li>
                }
            </ul>
        </div>
    }
</div>

@{ 
    List<DiplomWeb.Models.ApplicationUser> users = ViewBag.Users;
}
@*<div class="row">@Html.ActionLink("Button 1", "DownloadFile", "UserVigils")</div>*@
<div class="row">@Html.Partial("~/Views/UserVigils/View.cshtml", new DiplomWeb.Models.DateSelect() { Id=3, DateStart=DateTime.Now, DateEnd=DateTime.Now})</div>



@*<div class="row">@Html.Partial("~/Views/ApplicationUsers/WriteUser.cshtml",users)</div>*@