@model IEnumerable<DiplomWeb.Models.Project>
@using DiplomWeb.Models
@{
    ViewBag.Title = "Проекты";
}

<div class="clearfix">
    <h2 class="pull-left">Проекты</h2>

    <a class="pull-right button-style mg-t-26 " href="@Url.Action("Create")">Создать новый</a>
</div>

<div>

    <div class="table-my">

        <div class="row-table header-table dark-table">
            <div class="cell-table">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div class="cell-table">
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </div>
            <div class="cell-table">
                @Html.DisplayNameFor(model => model.Priority)
            </div>

            <div class="cell-table">
                @Html.DisplayNameFor(model => model.TasksOfProject)
            </div>
            <div class="cell-table">
                @Html.DisplayNameFor(model => model.DateStart)
            </div>
        </div>

        @foreach (Project item in Model)
        {
            <div class="row-table clickable-row"  data-href='@Url.Action("Project","Projects",new { id=item.Id})'>
                <div class="cell-table">
                    @item.Name
                </div>
                <div>
                    @item.ApplicationUser.SecondName @item.ApplicationUser.FirstName
                </div>
                <div class="cell-table">
                    @item.Priority
                </div>
                <div class="cell-table">
                    @item.TasksOfProject.Count
                </div>
                <div class="cell-table">
                    @item.DateStart
                </div>
            </div>

        }
    </div>   
</div>

@section Scripts {
    <script>
    $(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.document.location = $(this).data("href");
        });
    });
    </script>

}