@model IEnumerable<DiplomWeb.Models.Group>
@using DiplomWeb.Models


<section class="col-md-8 members-project">
    @foreach (DiplomWeb.Models.Group item in Model)
    {

        <h5 class="head-group">@item.Name:</h5>
        foreach (var user in item.ApplicationUsers)
        {
           
                <div class="users-members">
                    <a href="@Url.Action("UserInfo", "ApplicationUsers",new { user.Id })">
                        <div class="image-cut pull-left">
                            <img width="75"
                                 src="@Url.Action("GetImage", "ApplicationUsers",new { user.Id })" />
                        </div>

                        <span class="text-img"> @String.Format("{0} {1}", user.SecondName, user.FirstName)</span>
                        <span class="clearfix"></span>
                    </a>
                    <a class="delete-member" data-user="@user.Id" data-group="@item.Id"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
             
        }
    }

</section>

<section class="col-md-4">
    
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "CreateTask" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @*  <h3>Пользователи</h3>*@
            <input type="text" class="form-control full-width" id="filter" />
            <div class="row">
                <div class="panel-body style-scroll" style="height:350px; overflow:auto;">
                    <h5 class="head-group">Пользователи:</h5>
                    @foreach (ApplicationUser user in ViewBag.Users)
                {
                        <label style="display:block">
                            <div class="users-project">

                                <div class="image-cut pull-left">
                                    <img width="75"
                                         src="@Url.Action("GetImage", "ApplicationUsers",new { user.Id })" />
                                </div>

                                <span class="text-img filter_name"> @String.Format("{0} {1}", user.SecondName, user.FirstName)</span>
                                <span class="clearfix"></span>

                            </div>
                            @Html.CheckBox("users", false, new { value = user.Id.ToString(), id = user.Id.ToString(), @class = "hidden" })
                        </label>
                    }


                </div>

            </div>

            <h5 class="head-group">Роли:</h5>
            <div class="panel-body">
                <div class="form-group">
                    @foreach (Group item in Model)
                {


                        <div class="checkbox">
                            @Html.CheckBox("groups", false, new { value = item.Id.ToString(), id = item.Id.ToString() })
                            @Html.Label(item.Id.ToString(), item.Name, new { @for = item.Id.ToString() })

                        </div>

                    }
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Добавить" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

</section>


    <script>

        $("#filter").bind("input propertychange", function (e) {
            $(".filter_name").parent().removeClass("display-none");
            $(".filter_name").each(function( index ) {
                var text = $(this).text().toLowerCase();
                if (!text.includes($("#filter").val().toLowerCase())) {
                    $(this).parent().addClass("display-none");
                }
            });
            
        });
        $(".users-project").click(function () {
            $(this).toggleClass("check-user");
        });
        $(".delete-member").click(function () {
            var user = $(this).data("user");
            var group = $(this).data("group");
            var link = $(this);
            $.ajax({
                url: "@Url.Action("DeleteMembers")",
                type: "POST",
                dataType: "json",
                data: {"user":user,"group":group},
                success: function (html) {
                    $(link).parent().remove();
                    //$('#message').empty().prepend('<div class="alert alert-success">' + html.message + '</div>').show();
                    //setTimeout(function (e) { $('#message').hide(1000).empty(); }, 4000);
                    $.jGrowl(html.message, { life: 5000, theme: 'result-growl' });
                }
            });
        })
    </script>

