@model DiplomWeb.Models.Project

<div class="row clear-margin">
    <div class="col-md-8">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="pull-left">@Model.Name</span>
                    <span class="pull-right">@Model.Priority</span>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <p>@Html.Raw(Model.Description)</p>
                    <hr>
                        <div>
                        Файлы:
                        @foreach (DiplomWeb.Models.FilesCRM item in Model.FilesCRMs)
                        {


                        <a href="~/Files/@item.Name">@item.FileName</a>

                        }
                        </div>
                        <span>
                        Выполнено задач: @Model.TasksOfProject.Where(s => s.TaskStatus == DiplomWeb.Models.TaskStatus.закрытая).Count() / 
                        @Model.TasksOfProject.Count()
                        </span><br>
                        <span>Выполняется с: @Model.DateStart</span> 
                        <span class="pull-right">
                        Ожидаемая дата закрытия: @Model.DataFinal
                        </span>
                        <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-my">

                <div class="row-table header-table dark-table">
                    <div class="cell-table">
                    @Html.DisplayNameFor(model => model.TasksOfProject.FirstOrDefault().Name)
                    </div>
                    <div class="cell-table">
                    @Html.DisplayNameFor(model => model.TasksOfProject.FirstOrDefault().Priority)
                    </div>
                    <div class="cell-table">
                    @Html.DisplayNameFor(model => model.TasksOfProject.FirstOrDefault().FromWhom)
                    </div>
                    <div class="cell-table">
                    @Html.DisplayNameFor(model => model.TasksOfProject.FirstOrDefault().ForWhom)
                    </div>
                    <div class="cell-table">
                    @Html.DisplayNameFor(model => model.TasksOfProject.FirstOrDefault().TaskStatus)
                    </div>
                </div>

            @foreach (DiplomWeb.Models.TaskOfProject item in Model.TasksOfProject
                    .Where(s => s.TaskStatus != DiplomWeb.Models.TaskStatus.закрытая
                    && s.ForWhom.UserName == User.Identity.Name
                    || s.FromWhom.UserName == User.Identity.Name).Take(5)){
                <div class="row-table clickable-row" data-href='@Url.Action("Index","TaskOfProjects",new { id=item.Id})'>
                    <div class="cell-table">
                    @item.Name
                    </div>
                    <div class="cell-table">
                    @item.Priority
                    </div>
                    <div  class="cell-table">
                    @item.FromWhom.SecondName @item.FromWhom.FirstName
                    </div>
                    <div class="cell-table">
                    @item.ForWhom.SecondName @item.ForWhom.FirstName
                    </div>
                    <div class="cell-table">
                    @item.TaskStatus.ToString().Replace('_',' ')
                    </div>
                </div>

            }
            </div>
        </div>
    </div>
    <div class="col-md-4">
<div id="members">

</div>
</div>
</div>

        <script>
            $.ajax({
                url: '@Url.Action("MembersProject",new { id=Model.Id})',
                success: function (html) {
                    $('#members').append(html);
                }
            });
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });
        </script>

