@model DiplomWeb.Models.Vigil
@{
    ViewBag.Title = "Дежурство" +Model.Name;
}
@section Styles{
    @Styles.Render("~/Content/tabs")
@Styles.Render("~/Content/calendar")
<link href="/Content/fix-project.css" rel="stylesheet">
}

<ul class="tab">
    <li><a id="overwiew" href='@Url.Action("Vigil",new { id =Model.Id})' class="tablinks active-link">Обзор</a></li>
    <li><a href='@Url.Action("View",new { Id=Model.Id, DateStart=DateTime.Now, DateEnd=DateTime.Now})' class="tablinks">Отчеты</a></li>
    @if (ViewBag.Admin)
    {
        <li><a href='@Url.Action("Edit","Vigils",new { id =Model.Id})' class="tablinks">Редактировать</a></li>

    }

</ul>
<div class="container">

    <div class="row">
        <div id="message"></div>
        <h2 class="project-name">@Model.Name</h2>

        <div id="view" class="view-project">

        </div>


        @*<div class="col-md-6">

                <div class="well">


                    <p>@Model.DateStart</p>
                    <p>@Model.DataFinal</p>
                    <div>
                        <span class="pull-left">Приоретет: @Model.Priority</span>
                        <span class="pull-right">Автор: @Model.ApplicationUser.SecondName @Model.ApplicationUser.FirstName</span>
                    </div>
                    <div class="clearfix"></div>
                    <h4>Описание</h4>
                    <p>@Html.Raw(Model.Description)</p>
                    <div >
                    Файлы:
                    @foreach (DiplomWeb.Models.FilesCRM item in Model.FilesCRMs)
                    {


                            <a href="~/Files/@item.Name">@item.FileName</a>

                    }</div>
                    <div></div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="members"></div> </div>*@
    </div>

</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/tinymce")
    @Scripts.Render("~/bundles/scripts")
    <script>
        function LoadAnimation() {
            var load = document.createElement('div');
            load.className = "cssload-container";
            var div = document.createElement('div');
            div.className = "cssload-whirlpool";
            load.appendChild(div);
            return load;
        }


        $(document).ready(function () {



            $('#view').empty().append(LoadAnimation());
            $.ajax({

                url: '@Url.Action("Vigil", new { id =Model.Id})',
                success: function (html) {
                    $('#view').empty().append(html);

                }
            });


        });
        $("#view").on("submit", function (event) {
            if ($('#view #CreateTask').length == 0) {
                return;
            }
            event.preventDefault();
            var url = $('#view #CreateTask')[0].action;
            var data = $('#view #CreateTask')[0];
            data = new FormData(data);
            $.ajax({
                url: url,
                type: "POST",
                dataType:"json",
                data: data,
                contentType: false,
                cache: false,
                processData: false,
                success: function (html) {
                    $("#overwiew").click();
                    //$('#message').empty().prepend('<div class="alert alert-success">' + html.message + '</div>').show();
                    //setTimeout(function (e) { $('#message').hide(1000).empty(); }, 4000);
                    $.jGrowl(html.message, { life: 5000, theme: 'result-growl'});
                }
            });
        });





        $(".tablinks").click(function (e) {
            e.preventDefault();
            $(".tablinks").removeClass("active-link");
            $(this).addClass("active-link");
            $('#view').empty().append(LoadAnimation());
            var url = $(this).attr("href");
            $.ajax({
                url: url,
                success: function (html) {

                    $('#view').empty().append(html);
                    tinymce.remove();
                    tinymce.init({ selector: 'textarea.tiny' });
                }
            });
        });
    </script>

}