@model DiplomWeb.Models.TaskOfProject

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TaskOfProject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ForWhom.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForWhom.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromWhom.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromWhom.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
