@model IEnumerable<DiplomWeb.Models.TaskOfProject>

<div class="table-my">

    <div class="row-table header-table dark-table">
        <div class="cell-table">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="cell-table">
            @Html.DisplayNameFor(model => model.Priority)
        </div>
        <div class="cell-table">
            @Html.DisplayNameFor(model => model.FromWhom)
        </div>
        <div class="cell-table">
            @Html.DisplayNameFor(model => model.ForWhom)
        </div>
        <div class="cell-table">
            @Html.DisplayNameFor(model => model.TaskStatus)
        </div>
    </div>

    @foreach (DiplomWeb.Models.TaskOfProject item in Model.Where(s=>s.TaskStatus!= DiplomWeb.Models.TaskStatus.закрытая))
    {
        <div class="row-table clickable-row" data-href='@Url.Action("Index","TaskOfProjects",new { id=item.Id})'>
            <div class="cell-table">
                @item.Name
            </div>
            <div class="cell-table">
                @item.Priority
            </div>
            <div class="cell-table">
                @item.FromWhom.SecondName @item.FromWhom.FirstName
            </div>
            <div class="cell-table">
                @item.ForWhom.SecondName @item.ForWhom.FirstName
            </div>
            <div class="cell-table">
                @item.TaskStatus.ToString().Replace('_', ' ')
            </div>
        </div>

    }
</div>
<script>
      $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });
</script>
</script>